<ion-header>
  <app-header [title]="'Envíos - Nuevo'"></app-header>
  <app-side-menu></app-side-menu>
</ion-header>

<ion-content padding>

        <div class="container">

          <form class="row" *ngIf="mainS.creationParamsLoaded">

            <div class="col-12" *ngIf="mainS.action == 'edit'">
              <div class="row">
                <button type="button" class="btn btn-primary" (click)="editionEnable()"> {{enableEditionText}} </button>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <div class="col form-box pb-3">
                <div class="row">
                  <div class="col text-center  title-content-3">
                    <h3>Origen</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">

                    <form>

                      <div class="form-group" [formGroup]="form">
                          <label for="sucursal-origen">Sucursal</label>
                          <select class="form-control" id="origin_branch_office"
                                  [(ngModel)]="mainS.oneElement.origin_branch_office" formControlName="origin_branch_office">
                              <option *ngFor="let cf of mainS.branchOfficeList.items" [value]="cf.id">{{cf.name}}</option>
                          </select>
                      </div>

                      <div class="form-group" [formGroup]="form">
                        <label for="name">Nombre y Apellido</label>
                        <input type="text" class="form-control" id="origin_full_name"
                                [(ngModel)]="mainS.oneElement.origin_full_name"  formControlName="origin_full_name"/>
                      </div>

                      <div class="form-group" [formGroup]="form">
                          <label for="tipo-envio">Tipo de Documento</label>
                          <select class="form-control" id="sender_identification_t"
                                  [(ngModel)]="mainS.oneElement.sender_identification.type" formControlName="sender_identification_t">
                              <option *ngFor="let cf of mainS.identifyTList.items" [value]="cf.id">{{cf.name}}</option>
                          </select>
                      </div>

                      <div class="form-group" [formGroup]="form">
                        <label for="doc-number-o">Número de Documento</label>
                        <input type="text" class="form-control" id="sender_identification_v"
                                [(ngModel)]="mainS.oneElement.sender_identification.value" formControlName="sender_identification_v" />
                      </div>

                      <div class="form-group" [formGroup]="form">
                        <label for="contact">Teléfono / Email</label>
                        <input type="text" class="form-control" id="origin_contact"
                                [(ngModel)]="mainS.oneElement.origin_contact" formControlName="origin_contact"/>
                      </div>

                      <div class="form-group" [formGroup]="form">
                        <label for="origin-addr">Dirección</label>
                        <input type="text" class="form-control" id="origin_address"
                                [(ngModel)]="mainS.oneElement.origin_address" formControlName="origin_address"/>
                      </div>

                      <div class="form-check" [formGroup]="form">
                        <input type="checkbox" class="form-check-input" id="payment_at_origin"  formControlName="payment_at_origin"
                                [(ngModel)]="mainS.oneElement.payment_at_origin" (change)="payInDestination = !mainS.oneElement.payment_at_origin">
                        <label class="form-check-label" for="exampleCheck1">Pagar en Origen</label>
                      </div>

                    </form>

                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <div class="col form-box pb-3">
                <div class="row">
                  <div class="col text-center  title-content-3">
                    <h3>Localidad</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">

                    <form>

                      <div class="form-group" [formGroup]="form">
                          <label for="tipo-envio">Destino</label>
                          <select class="form-control" id="destination_branch_office"
                                  [(ngModel)]="mainS.oneElement.destination_branch_office" formControlName="destination_branch_office">
                              <option *ngFor="let cf of mainS.branchOfficeList.items" [value]="cf.id">{{cf.name}}</option>
                          </select>
                      </div>

                      <div class="form-group" [formGroup]="form">
                        <label for="name-dest">Nombre y Apellido</label>
                        <input type="text" class="form-control" id="destination_full_name"
                                [(ngModel)]="mainS.oneElement.destination_full_name" formControlName="destination_full_name"/>
                      </div>

                      <div class="form-group" [formGroup]="form">
                          <label for="tipo-envio">Tipo de Documento</label>
                          <select class="form-control" id="receiver_identification_t"
                                  [(ngModel)]="mainS.oneElement.receiver_identification.type" formControlName="receiver_identification_t">
                              <option *ngFor="let cf of mainS.identifyTList.items" [value]="cf.id">{{cf.name}}</option>
                          </select>
                      </div>

                      <div class="form-group" [formGroup]="form">
                        <label for="doc-number-d">Número de Documento</label>
                        <input type="text" class="form-control" id="receiver_identification_v"
                                [(ngModel)]="mainS.oneElement.receiver_identification.value" formControlName="receiver_identification_v"/>
                      </div>

                      <div class="form-group" [formGroup]="form">
                        <label for="tel-dest">Teléfono / Email</label>
                        <input type="text" class="form-control" id="destination_contact" formControlName="destination_contact"
                                [(ngModel)]="mainS.oneElement.destination_contact" />
                      </div>

                      <div class="form-group" [formGroup]="form">
                        <label for="dest-addr">Dirección</label>
                        <input type="text" class="form-control" id="destination_address"
                                [(ngModel)]="mainS.oneElement.destination_address" formControlName="destination_address"/>
                      </div>

                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" [disabled] = "!mainS.elementEnableEdition"
                                [(ngModel)]="payInDestination" [ngModelOptions]="{standalone: true}" (change)="mainS.oneElement.payment_at_origin = !payInDestination">
                        <label class="form-check-label" for="exampleCheck1">Pagar en Destino</label>
                      </div>

                    </form>

                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <div class="col form-box pb-3">
                <div class="row">
                  <div class="col text-center  title-content-3">
                    <h3>Datos Adicionales</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">

                    <form>

                      <div class="form-group" *ngIf="mainS.action == 'edit'">
                          <label for="fecha-envio">Fecha de Envío</label>
                          <input type="text" class="form-control" id="fecha-envio" [disabled] = "true"
                                  value="{{format.getSDateFromTimeStamp( mainS.oneElement.date )}}" />
                      </div>

                      <div class="form-group" [formGroup]="form">
                          <label for="tipo-envio">Tipo de Bulto</label>
                          <select class="form-control" id="distance_id"
                                  [(ngModel)]="mainS.oneElement.distance_id" formControlName="distance_id">
                              <option *ngFor="let cf of mainS.distancesList.items" [value]="cf.id">{{cf.description}}</option>
                          </select>
                      </div>

                      <div class="form-group" [formGroup]="form">
                          <label for="tipo-envio">Tipo de Envio</label>
                          <select class="form-control" id="shipping_type_id"
                                  [(ngModel)]="mainS.oneElement.shipping_type_id" formControlName="shipping_type_id">
                              <option *ngFor="let cf of mainS.shippingsTypes.items" [value]="cf.id">{{cf.description}}</option>
                          </select>
                      </div>

                      <div class="form-group" [formGroup]="form">
                          <label for="tipo-envio">Tipo de Servicio</label>
                          <select class="form-control" id="service_type_id"
                                  [(ngModel)]="mainS.oneElement.service_type_id" formControlName="service_type_id">
                              <option *ngFor="let cf of mainS.servicesTypes.items" [value]="cf.id">{{cf.description}}</option>
                          </select>
                      </div>

                      <div class="form-group" *ngIf="mainS.action == 'edit'" [formGroup]="form">
                          <label for="tipo-envio">Vehículo</label>
                          <select class="form-control" id="vehicle_id"
                                  [(ngModel)]="mainS.oneElement.vehicle_id" formControlName="vehicle_id">
                              <option *ngFor="let cf of mainS.VehicleList.items" [value]="cf.id">{{cf.description}}</option>
                          </select>
                      </div>

                      <div class="form-group" *ngIf="mainS.action == 'edit'" [formGroup]="form">
                          <label for="tipo-envio">Estado</label>
                          <select class="form-control" id="status"
                                  [(ngModel)]="mainS.oneElement.status" formControlName="status">
                              <option *ngFor="let cf of mainS.getStatusTypes()" [value]="cf.id">{{cf.description}}</option>
                          </select>
                      </div>

                      <div class="form-group" [formGroup]="form">
                        <label for="name">Precio</label>
                        <input type="text" class="form-control" id="price"
                                [(ngModel)]="mainS.oneElement.price" formControlName="price"/>
                      </div>

                    </form>

                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-12">
              <div class="col form-box pb-3">
                <div class="row">
                  <div class="col text-center  title-content-3">
                    <h3>Detalle</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">

                    <form>
                      <div class="form-row align-items-center">
                        <div class="col-12 col-sm-6 col-md-10">
                            <input type="text" placeholder="Descripción" class="form-control" id="i-name-dest" [disabled] = "!mainS.elementEnableEdition"
                                   [(ngModel)]="mainS.oneElementshippngItem.description" [ngModelOptions]="{standalone: true}" />
                        </div>

                        <div class="col">
                          <button type="submit" class="btn btn-info  mb-2" (click)="addItem()" [disabled] = "!mainS.elementEnableEdition">Agregar</button>
                        </div>
                      </div>
                    </form>

                  </div>
                </div>

                <div class="row">
                  <div class="col text-center title-content-4">
                    Items
                  </div>
                </div>

                <div class="row" *ngFor="let cf of mainS.oneElement.items; let i = index">
                  <div class="col">
                    <p>{{cf.description}}</p>
                  </div>

                  <div class="col-auto">
                    <button type="button" class="btn btn-info" [disabled] = "!mainS.elementEnableEdition" (click)="delItem(i)">
                      <ion-icon name="trash-outline" ></ion-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-12" *ngIf="mainS.action == 'edit'">
              <div class="col form-box pb-3">
                <div class="row">
                  <div class="col text-center  title-content-3">
                    <h3>Remitos</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">

                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col"><span>Original</span> </div>
                          <div class="col-auto"><a class="btn btn-info" href="{{deliveryNotes.original}}" target="_blank">Ver</a> </div>
                        </div>
                      </li>

                      <li class="list-group-item">
                        <div class="row">
                          <div class="col"><span>Duplicado</span> </div>
                          <div class="col-auto"><a class="btn btn-info" href="{{deliveryNotes.doubled}}" target="_blank">Ver</a> </div>
                        </div>
                      </li>

                      <li class="list-group-item">
                        <div class="row">
                          <div class="col"><span>Triplicado</span> </div>
                          <div class="col-auto"><a class="btn btn-info" href="{{deliveryNotes.tripled}}" target="_blank">Ver</a></div>
                        </div>
                      </li>

                      <li class="list-group-item">
                        <div class="row">
                          <div class="col"><span>Cuadruplicado</span></div>
                          <div class="col-auto"><a class="btn btn-info" href="{{deliveryNotes.cuadrupled}}" target="_blank">Ver</a></div>
                        </div>
                      </li>
                    </ul>

                  </div>
                </div>

              </div>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col"></div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-3" (click)="goToAll()">Cancelar</button>
                  <button type="submit" class="btn btn-primary mb-3" (click)="next()"
                          [disabled] = "!( mainS.elementEnableEdition || mainS.action == 'create' )">{{ mainS.textSubmitAction }}</button>
                </div>
                <div class="col"></div>
              </div>
            </div>

          </form>

          <div class="row" *ngIf="!mainS.creationParamsLoaded">
            <!--- INICIO COMPONENTE PARAMETROS ENVIO NO CARGADOS --->
            <div class="col-12 form-box">

              <div class="row">
                <div class="col text-center  title-content-3">
                  <h3>Esperando información sobre los Tipos de Envíos y Servicios</h3>
                </div>
              </div>

            </div>
          </div>
          <!--- FIN COMPONENTE PARAMETROS ENVIO NO CARGADOS --->
        </div>

</ion-content>
