<ion-header>
  <app-header [title]="'Envíos - Nuevo'"></app-header>
</ion-header>

<ion-content padding>

  <div class="d-flex" id="wrapper">
      <!-- Sidebar -->
      <app-side-menu></app-side-menu>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">

        <div class="container">

          <div class="row" *ngIf="creationParamsLoaded">

            <div class="col-12" *ngIf="mainS.action == 'edit'">
              <div class="row">
                <button type="" class="btn btn-primary" (click)="editionEnable()"> {{enableEditionText}} </button>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <div class="col form-box pb-3">
                <div class="row">
                  <div class="col text-center  title-content-3">
                    <h3>Origen</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">

                    <form>

                      <div class="form-group" *ngIf="mainS.action == 'edit'">
                          <label for="sucursal-origen">Sucursal</label>
                          <input type="text" class="form-control" id="sucursal-origen" [disabled] = "true"
                                  value="{{ shipping.originBranchOffice.name }}" />
                      </div>

                      <div class="form-group">
                        <label for="name">Nombre y Apellido</label>
                        <input type="text" class="form-control" id="name" [disabled] = "!mainS.elementEnableEdition"
                                [(ngModel)]="shipping.origin_full_name" [ngModelOptions]="{standalone: true}"/>
                      </div>

                      <div class="form-group">
                          <label for="tipo-envio">Tipo de Documento</label>
                          <select class="form-control" id="tipo-envio" [disabled] = "!mainS.elementEnableEdition"
                                  [(ngModel)]="shipping.sender_identification.type" [ngModelOptions]="{standalone: true}">
                              <option *ngFor="let cf of identifyTList.items" [value]="cf.id">{{cf.name}}</option>
                          </select>
                      </div>

                      <div class="form-group">
                        <label for="doc-number-o">Número de Documento</label>
                        <input type="text" class="form-control" id="doc-number-o" [disabled] = "!mainS.elementEnableEdition"
                                [(ngModel)]="shipping.sender_identification.value" [ngModelOptions]="{standalone: true}"/>
                      </div>

                      <div class="form-group">
                        <label for="contact">Teléfono / Email</label>
                        <input type="text" class="form-control" id="contact" [disabled] = "!mainS.elementEnableEdition"
                                [(ngModel)]="shipping.origin_contact" [ngModelOptions]="{standalone: true}"/>
                      </div>

                      <div class="form-group">
                        <label for="origin-addr">Dirección</label>
                        <input type="text" class="form-control" id="origin-addr" [disabled] = "!mainS.elementEnableEdition"
                                [(ngModel)]="shipping.origin_address" [ngModelOptions]="{standalone: true}"/>
                      </div>

                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" [disabled] = "!mainS.elementEnableEdition"
                                [(ngModel)]="shipping.payment_at_origin" [ngModelOptions]="{standalone: true}" (change)="payInDestination = !shipping.payment_at_origin">
                        <label class="form-check-label" for="exampleCheck1">Pagar en Origen</label>
                      </div>

                    </form>

                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <div class="col form-box pb-3">
                <div class="row">
                  <div class="col text-center  title-content-3">
                    <h3>Destino</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">

                    <form>

                      <div class="form-group">
                        <label for="name-dest">Nombre y Apellido</label>
                        <input type="text" class="form-control" id="name-dest" [disabled] = "!mainS.elementEnableEdition"
                                [(ngModel)]="shipping.destination_full_name" [ngModelOptions]="{standalone: true}"/>
                      </div>

                      <div class="form-group">
                          <label for="tipo-envio">Tipo de Documento</label>
                          <select class="form-control" id="tipo-envio" [disabled] = "!mainS.elementEnableEdition"
                                  [(ngModel)]="shipping.receiver_identification.type" [ngModelOptions]="{standalone: true}">
                              <option *ngFor="let cf of identifyTList.items" [value]="cf.id">{{cf.name}}</option>
                          </select>
                      </div>

                      <div class="form-group">
                        <label for="doc-number-d">Número de Documento</label>
                        <input type="text" class="form-control" id="doc-number-d" [disabled] = "!mainS.elementEnableEdition"
                                [(ngModel)]="shipping.receiver_identification.value" [ngModelOptions]="{standalone: true}"/>
                      </div>

                      <div class="form-group">
                        <label for="tel-dest">Teléfono</label>
                        <input type="text" class="form-control" id="tel-dest" [disabled] = "!mainS.elementEnableEdition"
                                [(ngModel)]="shipping.destination_contact" [ngModelOptions]="{standalone: true}"/>
                      </div>

                      <div class="form-group">
                          <label for="tipo-envio">Destino</label>
                          <select class="form-control" id="tipo-envio" [disabled] = "!mainS.elementEnableEdition"
                                  [(ngModel)]="shipping.destination_branch_office" [ngModelOptions]="{standalone: true}">
                              <option *ngFor="let cf of branchOfficeList.items" [value]="cf.id">{{cf.name}}</option>
                          </select>
                      </div>

                      <div class="form-group">
                        <label for="dest-addr">Dirección</label>
                        <input type="text" class="form-control" id="dest-addr" [disabled] = "!mainS.elementEnableEdition"
                                [(ngModel)]="shipping.destination_address" [ngModelOptions]="{standalone: true}"/>
                      </div>

                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" [disabled] = "!mainS.elementEnableEdition"
                                [(ngModel)]="payInDestination" [ngModelOptions]="{standalone: true}" (change)="shipping.payment_at_origin = !payInDestination">
                        <label class="form-check-label" for="exampleCheck1">Pagar en Destino</label>
                      </div>

                    </form>

                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <div class="col form-box pb-3">
                <div class="row">
                  <div class="col text-center  title-content-3">
                    <h3>Datos Adicionales</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">

                    <form>

                      <div class="form-group" *ngIf="mainS.action == 'edit'">
                          <label for="fecha-envio">Fecha de Envío</label>
                          <input type="text" class="form-control" id="fecha-envio" [disabled] = "true"
                                  value="{{format.getSDateFromTimeStamp( shipping.date )}}" />
                      </div>

                      <div class="form-group">
                          <label for="tipo-envio">Distancia</label>
                          <select class="form-control" id="tipo-envio" [disabled] = "!mainS.elementEnableEdition"
                                  [(ngModel)]="shipping.distance_id" [ngModelOptions]="{standalone: true}">
                              <option *ngFor="let cf of distancesList.items" [value]="cf.id">{{cf.description}}</option>
                          </select>
                      </div>

                      <div class="form-group">
                          <label for="tipo-envio">Tipo de Envio</label>
                          <select class="form-control" id="tipo-envio" [disabled] = "!mainS.elementEnableEdition"
                                  [(ngModel)]="shipping.shipping_type_id" [ngModelOptions]="{standalone: true}">
                              <option *ngFor="let cf of shippingsTypes.items" [value]="cf.id">{{cf.description}}</option>
                          </select>
                      </div>

                      <div class="form-group">
                          <label for="tipo-envio">Tipo de Servicio</label>
                          <select class="form-control" id="tipo-servicio" [disabled] = "!mainS.elementEnableEdition"
                                  [(ngModel)]="shipping.service_type_id" [ngModelOptions]="{standalone: true}">
                              <option *ngFor="let cf of servicesTypes.items" [value]="cf.id">{{cf.description}}</option>
                          </select>
                      </div>

                      <div class="form-group" *ngIf="mainS.action == 'edit'">
                          <label for="tipo-envio">Vehículo</label>
                          <select class="form-control" id="tipo-servicio" [disabled] = "!mainS.elementEnableEdition"
                                  [(ngModel)]="shipping.vehicle_id" [ngModelOptions]="{standalone: true}">
                              <option *ngFor="let cf of VehicleList.items" [value]="cf.id">{{cf.description}}</option>
                          </select>
                      </div>

                      <div class="form-group" *ngIf="mainS.action == 'edit'">
                          <label for="tipo-envio">Estado</label>
                          <select class="form-control" id="tipo-servicio" [disabled] = "!mainS.elementEnableEdition"
                                  [(ngModel)]="shipping.status" [ngModelOptions]="{standalone: true}">
                              <option *ngFor="let cf of mainS.getStatusTypes()" [value]="cf.id">{{cf.description}}</option>
                          </select>
                      </div>

                      <div class="form-group">
                        <label for="name">Precio</label>
                        <input type="text" class="form-control" id="price" [disabled] = "!mainS.elementEnableEdition"
                                [(ngModel)]="shipping.price" [ngModelOptions]="{standalone: true}"/>
                      </div>

                    </form>

                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-12">
              <div class="col form-box pb-3">
                <div class="row">
                  <div class="col text-center  title-content-3">
                    <h3>Detalle</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">

                    <form>
                      <div class="form-row align-items-center">
                        <div class="col-12 col-sm-6 col-md-10">
                            <input type="text" placeholder="Descripción" class="form-control" id="i-name-dest" [disabled] = "!mainS.elementEnableEdition"
                                   [(ngModel)]="shippngItem.description" [ngModelOptions]="{standalone: true}" />
                        </div>

                        <div class="col">
                          <button type="submit" class="btn btn-info  mb-2" (click)="addItem()" [disabled] = "!mainS.elementEnableEdition">Agregar</button>
                        </div>
                      </div>
                    </form>

                  </div>
                </div>

                <div class="row">
                  <div class="col text-center title-content-4">
                    Items
                  </div>
                </div>

                <div class="row" *ngFor="let cf of shipping.items; let i = index">
                  <div class="col">
                    <p>{{cf.description}}</p>
                  </div>

                  <div class="col-auto">
                    <button type="button" class="btn btn-info" [disabled] = "!mainS.elementEnableEdition" (click)="delItem(i)">
                      <ion-icon name="trash-outline" ></ion-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-12" *ngIf="mainS.action == 'edit'">
              <div class="col form-box pb-3">
                <div class="row">
                  <div class="col text-center  title-content-3">
                    <h3>Remitos</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">

                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <span>Original</span>
                        <a class="btn btn-info" href="{{deliveryNotes.remito.original}}" target="_blank">Ver</a>
                      </li>

                      <li class="list-group-item">
                        <span>Duplicado</span>
                        <a class="btn btn-info" href="{{deliveryNotes.remito_duplicado}}" target="_blank">Ver</a>
                      </li>

                      <li class="list-group-item">
                        <span>Triplicado</span>
                        <a class="btn btn-info" href="{{deliveryNotes.remito_triplicado}}" target="_blank">Ver</a>
                      </li>

                      <li class="list-group-item">
                        <span>Cuadruplicado</span>
                        <a class="btn btn-info" href="{{deliveryNotes.remito_cuadruplicado}}" target="_blank">Ver</a>
                      </li>
                    </ul>

                  </div>
                </div>

              </div>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col"></div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary" (click)="next()">{{ mainS.textSubmitAction }}</button>
                </div>
                <div class="col"></div>
              </div>
            </div>

          </div>

          <div class="row" *ngIf="!creationParamsLoaded">
            <!--- INICIO COMPONENTE PARAMETROS ENVIO NO CARGADOS --->
            <div class="col-12 form-box">

              <div class="row">
                <div class="col text-center  title-content-3">
                  <h3>Esperando información sobre los Tipos de Envíos y Servicios</h3>
                </div>
              </div>

            </div>
          </div>
          <!--- FIN COMPONENTE PARAMETROS ENVIO NO CARGADOS --->
        </div>

      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

</ion-content>
