<ion-header>
  <div class="row">
      <div class="col title-content-2">
        <div class="row">
          <div class="col"><div class="t2-table"><div class="t2-cell">{{gral.getAppTitle()}}</div></div></div>
          <div class="col-5 col-sm-3 col-md-3 col-lg-3"><img class="img-logo" src="" /></div>
        </div>
      </div>
  </div>
</ion-header>

<ion-content>

  <div class="row align-items-center vh-75">

    <div class="offset-sm-2 offset-md-3 offset-lg-3 offset-xl-4 col-12 col-sm-8 col-md-6 col-lg-6 col-xl-4">
      <div class="row">
        <div class="col mb-4">
          <img class="img-responsivess" src="assets/img/logotipo.png" />
        </div>
      </div>

      <div class="row">
        <form class="col">

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><ion-icon name="person-outline"></ion-icon></div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Usuario"
                    [(ngModel)]="login.username" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><ion-icon name="key-outline"></ion-icon></div>
            </div>
            <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Contraseña"
                    [(ngModel)]="login.password" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Recordarme</label>
          </div>

          <div class="input-group mb-2 text-center">
            <button type="submit" class="btn btn-info margin-center-h"  (click)="next()">Ingresar</button>
          </div>
        </form>
      </div>

    </div>

  </div>

</ion-content>
