/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/*          ESTILOS GENERALES          */
.title-content-1 {
  background-color: #626366;
  color:            #FFF;
  padding:          1em 1em 1em 2em;
  margin-bottom:    2em;
}

.title-content-3, .title-content-2, .title-content-4 {
  padding:          3em !important;
  margin-bottom:    1em;
  border-bottom:    2px solid #DDD;
  background:       #52a5b4;
}

.title-content-3, .title-content-4 {
  color:            #FFF;
  padding-bottom:   2px!important;
  padding-top:      2px!important;

  p{
    margin:      0px;
  }
}

.title-content-4{
  padding-bottom:   0px!important;
  padding-top:      0px!important;
}

.title-3-grid {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  min-height: 30px;
}

.title-content-2 {
  padding-bottom:   0 !important;
  padding-top:      0 !important;
  border:           none;
  background-color: #52a5b4;
  color:            #000;
  margin:           0px;
  height:           3em;

  .row {
    height: 100%;
  }

  .img-logo {
    height:     100%;
    max-height: 3em;
    width:      auto;
  }

  .t2-table{
    display:    table;
    height:     100%;
  }

  .t2-cell{
    display:          table-cell;
    vertical-align:   middle;
    font-size:        1.25em;
    color:            #FFF;
  }
}

.header-md{
  background: #52a5b4;
}

.app-body {
  background-color: transparent !important;
}

/*--------------- BOTONES ----------------*/
.btn-CS{
  background-color: #626366;
}

.btn {
  border-radius: 0px !important;
  border:        none;
  color:         #FFF !important;
}

.to-bottom{
  position:      absolute;
  bottom:        0px;
}

.btn-cont-1{
  padding:       1em;
}


.toolbar-background{
  background: #de2027 !important;
}

.page-bg {
  background-color: #DDD;
}

.form-app{
  background-color: #FFFFFF;
}

.padding-form{
  padding-left: 5%; padding-right: 5%;
}

.btn{ margin-left:3px; margin-right: 3px; }

.row-bottom-line-1{
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
}

.form-control{
  font-weight: bold;
}

.pd-bottom-1{
  padding-bottom: 1em;
}

.btn-dark{
  background-color: #681219;
}

.num-cot{
  text-align: right;
}

.bg-yellow{ background: yellow; }
.custom-sum { margin-right: 25px; }
.btn-info { background: #00b1ea !important; }

.table td, .table th {
    padding: .15rem;
}

.mat-form-field-wrapper {
    padding-bottom: 0 !important;
    margin-bottom: 0px !important;
}

.mat-form-field-infix {
    border-top: none;
    padding: 0;
}

.mat-form-field-appearance-legacy .mat-form-field-underline{
  display: none;
}

input.mat-input-element {
    margin-top: -0.062em;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.mat-form-field-appearance-legacy .mat-form-field-infix{
  padding: 0;
}

.text-in-input {
  font-size:    1rem;
  font-weight:  bold;
  position:     relative;
  margin-top: auto;
  margin-bottom: auto;
}

/* SIDEBAR [MODIFICAR] Mover estos estilos para el componente */
body {
  overflow-x: hidden;
}

app-side-menu {
  position:      fixed;
  z-index:       900;
  box-shadow:    0 .5rem 1rem rgba(0,0,0,.15) !important;

  .side-bar-toggled {
    margin-left:   -15rem !important;
  }
}

.btn-light{
  color:      #000 !important;
}

/* SIDEBAR FIN [MODIFICAR] Mover estos estilos para el componente */

.form-box {
  border:         1px solid #AAA;
  margin-top:     1rem;
  margin-bottom:  1rem;
}

.vh-100{
  height: calc(100vh - 48px);
}

.vh-75{
  height: calc(75vh - 48px);
}

.margin-center-h{
  margin-left:  auto;
  margin-right: auto;
}
